@charset "UTF-8";

/******************************
== LINEAR == 
******************************/
.edils.linear section {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* NOT STRETCH */
.edils[data-direction="horizontal"].linear .slides section.past {
  -webkit-transform: translate(-120%, 0);
     -moz-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
       -o-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
}


.edils[data-direction="horizontal"].linear .slides section.future {
  -webkit-transform: translate(120%, 0);
     -moz-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
       -o-transform: translate(120%, 0);
          transform: translate(120%, 0);
}


.edils[data-direction="vertical"].linear .slides section.past {
  -webkit-transform: translate(0, 120%);
     -moz-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
       -o-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.edils[data-direction="vertical"].linear .slides section.future {
  -webkit-transform: translate(0, -120%);
     -moz-transform: translate(0, -120%);
      -ms-transform: translate(0, -120%);
       -o-transform: translate(0, -120%);
          transform: translate(0, -120%);
}

/* NOT STRETCH IS REVERSE */
.edils[data-direction="horizontal"].linear.reverse .slides section.past {
  -webkit-transform: translate(120%, 0);
     -moz-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
       -o-transform: translate(120%, 0);
          transform: translate(120%, 0);
}

.edils[data-direction="horizontal"].linear.reverse .slides section.future {
  -webkit-transform: translate(-120%, 0);
     -moz-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
       -o-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
}

.edils[data-direction="vertical"].linear.reverse .slides section.past {
  -webkit-transform: translate(0, -120%);
     -moz-transform: translate(0, -120%);
      -ms-transform: translate(0, -120%);
       -o-transform: translate(0, -120%);
          transform: translate(0, -120%);
}

.edils[data-direction="vertical"].linear.reverse .slides section.future {
  -webkit-transform: translate(0, 120%);
     -moz-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
       -o-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

/* STRETCH */
.edils[data-direction="horizontal"].linear .slides.expand section.past {
  -webkit-transform: translate(-100%, 0);
     -moz-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
       -o-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.edils[data-direction="horizontal"].linear .slides.expand section.future {
  -webkit-transform: translate(100%, 0);
     -moz-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
       -o-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.edils[data-direction="vertical"].linear .slides.expand section.past {
  -webkit-transform: translate(0, 100%);
     -moz-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
       -o-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.edils[data-direction="vertical"].linear .slides.expand section.future {
  -webkit-transform: translate(0, -100%);
     -moz-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
       -o-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

/* STRETCH IS REVERSE */
.edils[data-direction="horizontal"].linear.reverse .slides.expand section.past {
  -webkit-transform: translate(100%, 0);
     -moz-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
       -o-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.edils[data-direction="horizontal"].linear.reverse .slides.expand section.future {
  -webkit-transform: translate(-100%, 0);
     -moz-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
       -o-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.edils[data-direction="vertical"].linear.reverse .slides.expand section.past {
  -webkit-transform: translate(0, -100%);
     -moz-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
       -o-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.edils[data-direction="vertical"].linear.reverse .slides.expand section.future {
  -webkit-transform: translate(0, 100%);
     -moz-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
       -o-transform: translate(0, 100%);
          transform: translate(0, 100%);
}